Repository zxdavb/ramses_cc: changes, and which pre-commit hooks are due for each by the changed paths.
All: debugs, style_1, secrets

debugs:
  name: check for DEBUG flags
  entry: _DBG_.*=.*True
  language: pygrep
  args:
  - -i

style_1:
  name: check for 'as exc:' (should be 'as err:')
  entry: ' as exc:'
  language: pygrep
  args:
  - -i

secrets:
  name: check for secrets
  entry: '#.*(secret|password|pwd)'
  language: pygrep
  args:
  - -i

increase reliability of test
  tests/tests_old/test_services.py
Due: style_1, secrets

harden test
  tests/tests_old/test_services.py
Due: style_1, secrets

async_forward_entry_setup is deprecated
  custom_components/ramses_cc/broker.py
Due: debugs, style_1, secrets

bump to 0.42.1
  custom_components/ramses_cc/manifest.json
Due: debugs, style_1, secrets

Fix typo in schemas.py
  custom_components/ramses_cc/schemas.py
Due: debugs, style_1, secrets

Process review comments
  custom_components/ramses_cc/services.yaml
  custom_components/ramses_cc/translations/en.json
  tests/tests_old/test_services.py
Due: debugs, style_1, secrets

Add impersonation support to send_packet service
  .gitignore
  custom_components/ramses_cc/schemas.py
  custom_components/ramses_cc/services.yaml
  custom_components/ramses_cc/translations/en.json
  tests/tests_old/test_services.py
Due: debugs, style_1, secrets

Fix device_id in test_svc_send_packet_with_impersonation test
  tests/tests_old/test_services.py
Due: style_1, secrets

tidy up requirements
  .flake8
  .pre-commit-config.yaml
  custom_components/ramses_cc/manifest.json
  pyproject.toml
  requirements_dev.txt
  requirements_test.txt
Due: debugs, style_1, secrets

tweak actions
  .github/workflows/check-lint.yml
  .github/workflows/check-test.yml
  .github/workflows/check-type.yml
Due: debugs, style_1, secrets

tweak .gitignore
  .gitignore
Due: debugs, style_1, secrets

bugfix test
  tests/tests_new/test_init.py
Due: style_1, secrets

add -v to test
  .github/workflows/check-test.yml
Due: debugs, style_1, secrets

undo regression in test
  requirements_test.txt
  tests/tests_new/test_init.py
Due: debugs, style_1, secrets

duplicate fixture as workaround
  tests/tests_new/conftest.py
Due: style_1, secrets

lint
  tests/tests_new/conftest.py
Due: style_1, secrets

extend tests
  .github/workflows/check-test.yml
Due: debugs, style_1, secrets

dont test 3.13
  .github/workflows/check-test.yml
Due: debugs, style_1, secrets

bump to 0.43.0
  custom_components/ramses_cc/manifest.json
Due: debugs, style_1, secrets

add codespell and fix typos
  .pre-commit-config.yaml
  custom_components/ramses_cc/services.yaml
  tests/tests_new/test_init.py
  tests/virtual_rf/virtual_rf.py
Due: debugs, style_1, secrets

wont is won't
  tests/virtual_rf/virtual_rf.py
Due: style_1, secrets

update pre-commit config
  .pre-commit-config.yaml
Due: none

ignore IntelliJ IDE folder
  .gitignore
Due: debugs, style_1, secrets

update requirements
  .github/workflows/check-lint.yml
  .github/workflows/check-test.yml
  .github/workflows/check-type.yml
  .pre-commit-config.yaml
  custom_components/ramses_cc/manifest.json
  pyproject.toml
  requirements_dev.txt
  requirements_test.txt
Due: debugs, style_1, secrets

whateverr
  tests/tests_new/conftest.py
  tests/tests_old/test_init_config.py
  tests/tests_old/test_init_data.py
  tests/tests_old/test_services.py
Due: style_1, secrets

mypy fix
  custom_components/ramses_cc/binary_sensor.py
Due: debugs, style_1, secrets

doctweak
  custom_components/ramses_cc/broker.py
Due: debugs, style_1, secrets

change precision to 0.5 for target temp
  custom_components/ramses_cc/climate.py
Due: debugs, style_1, secrets

Update water_heater.py
  custom_components/ramses_cc/water_heater.py
Due: debugs, style_1, secrets

Update water_heater.py (#224)
  custom_components/ramses_cc/water_heater.py
Due: debugs, style_1, secrets

Fix ruff issue
  tests/tests_old/test_services.py
Due: style_1, secrets

Add impersonation support to send_packet service (#201)
  .gitignore
  custom_components/ramses_cc/schemas.py
  custom_components/ramses_cc/services.yaml
  custom_components/ramses_cc/translations/en.json
  tests/tests_old/test_services.py
Due: debugs, style_1, secrets

Path conditions:
  debugs: any file but: (.pre-commit-config.yaml|^tests/.*\.py$)
  style_1: any file but: .pre-commit-config.yaml
  secrets: any file but: .pre-commit-config.yaml
